<a href="javascript:window.history.back()" class="govuk-back-link">
  Back
</a>

<main class="govuk-main-wrapper" id="main-content">
          
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="account" method="post">

      <h1 class="govuk-heading-l">Check your phone</h1>

      <div class="govuk-inset-text">
        We have sent a code to your phone number ending with <b>137</b>
      </div>

      <p class="govuk-body">It might take a few minutes to arrive. The code will expire after 15 minutes.</p>

      <div class="govuk-form-group">
        <label class="govuk-label" for="code">
            Enter the 6 digit security code
        </label>
        <input class="govuk-input govuk-input--width-10" id="code" name="code" type="text" spellcheck="false" autocomplete="one-time-code" inputmode="numeric">
    </div>

    <button class="govuk-button" data-module="govuk-button" data-govuk-button-init="">
      Continue
    </button>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Problems with the code?
        </span>
      </summary>
      <div class="govuk-details__text">
        <p class="govuk-body">
          We can <a href="/page-index/authentication/sign-in/resend-code-sms" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener">send the code again</a> if the code is not working or you did not receive it.
        </p>
        <p class="govuk-body">
          If you no longer have access to this phone number,
          
            <a href="/journey-transition/security-codes" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener" target="_blank">check if you can change how you get security codes</a>.
          
        </p>
        
      </div>
    </details>



      </form>
    </div>
  </div>

</main>