
  <a href="javascript:window.history.back()" class="govuk-back-link">
    Back
  </a>

  <main class="govuk-main-wrapper" id="main-content">
            
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form class="form" action="enter-password" method="post">
          <div class="govuk-form-group">
            <h1 class="govuk-label-wrapper">
              <label class="govuk-label govuk-label--l" for="sign-in-email">
                Enter your email address to sign in to your GOV.UK One Login
              </label>
            </h1>
            <input class="govuk-input" id="sign-in-email" name="sign-in-email" type="email" spellcheck="false" autocomplete="email">
          </div>
          <button class="govuk-button" data-module="govuk-button" data-govuk-button-init="">
            Continue
          </button>
        </form>
      </div>
    </div>
  </main>