<h1 class="govuk-heading-xl">Universal Credit</h1>


<a href="/account/benefits/uc/thing-1">Thing 1</a>

<a href="/account/benefits/uc/thing-2">Thing 2</a>

<a href="/account/benefits/uc/thing-3">Thing 3</a>


<p>
{{ url.item | replace("-", " ") | title }}
</p>