{% extends "layouts/one-login.html" %}

{% set pageName="Check your phone" %}


  {% block main_content %}

  {% include "./pages/one-login/check-your-phone.njk" ignore missing %}
  
  {% endblock %}

